.nav{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 10px 120px;
    color: white;
}
.nav-logo{
    font-family: Outfit;
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}
.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background-color: white;
    color: #262626;
    
}
.nav-login{
    display: inline-flex;
    align-items: center;
    text-decoration: none; 
    color: inherit; 
}